.contacts {
  padding-bottom: 100px;
  @include tablet {
    padding-bottom: 52px;
  }
  &__body {
    position: relative;
  }
  &__info {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    max-width: 455px;
    width: 100%;
    border-radius: 0 32px 32px 0;
    z-index: 10;
    @include laptop-min {
      position: static;
      margin-bottom: 40px;
      transform: translateY(0);
    }
    @include tablet {
      max-width: none;
      margin-bottom: 20px;
    }
  }
  &__info-body {
    position: relative;
    padding: 30px 30px 30px 0px;
    @include tablet {
      padding: 32px 24px 32px 0px;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      left: 0;
      background: url("@img/corner.svg") 0 0 / contain no-repeat;
    }
    &::before {
      top: -32px;
    }
    &::after {
      bottom: -32px;
      transform: rotate(90deg);
    }
  }
  &__title {
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    &:first-child {
      .contacts__item-title {
        margin-bottom: 3px;
      }
    }
    a.contacts__item-content {
      transition: color 0.2s ease;
      @include hover {
        color: var(--main-dark);
      }
    }
  }
  &__item-title {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--gull);
  }
  &__item-flex {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__item-content {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    @include tablet {
      font-size: 16px;
    }
  }
  &__social {
    .social__btn {
      width: 39px;
      height: 39px;
    }
    .social__icon {
      width: 16px;
      height: 16px;
    }
  }
  &__item-maps {
    display: flex;
    gap: 24px;
  }
  &__map {
    height: 630px;
    overflow: hidden;
    border-radius: 12px;
    @include tablet {
      height: 300px;
    }
  }
}
