:root {
  --black: #1d2731;
  --cod: #1e1e1e;
  --river: #414b57;
  
  --cadet: #abb5c0;
  --gull: #98a4b2;
  --raven: #717d8a;
  --cat-skill: #f1f5f9;
  --athens: #e5e8ec;
  --shaft: #2b2b2b;
  --shaft-light: #3a3a3a;
  
  --heather: #bfc9d4;
  --alto: #d9d9d9;
  --loblolly: #c2cad3;
  
  --main: #40b8dd;
  --main-dark: #18a4cf;
  
  // social
  --tg-bg: #ecfaff;

  --wh-bg: #ecfff5;
  --wh: #28C874;
}