<section class="add-services">
  <div class="container _min">
    <h2 class="title title-2 add-services__title">
      <span>Мы оказываем</span> дополнительные услуги
    </h2>
    <div class="swiper add-services__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide add-services__item">
          <h5 class="title title-5 add-services__item-title">Кнопка ЭРА-ГЛОНАСС</h5>
          <span class="add-services__item-price">650 — 2 000 ₽</span>
          <p class="add-services__item-content">(в зависимости от категории и региона)</p>
          <img src="@img/add-service-1.png" alt="image" class="add-services__item-img" />
          <div class="corner add-services__corner">
            <div class="corner__body">
              <div class="btn-main btn-main--gray _min">
                <span>Подробнее</span>
                <div class="btn-main__circle">
                  <svg class="btn-main__icon">
                    <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="swiper-slide add-services__item">
          <h5 class="title title-5 add-services__item-title">Внесение нового собственника в Птс</h5>
          <span class="add-services__item-price">600 — 1 500</span>
          <img src="@img/add-service-2.png" alt="image" class="add-services__item-img" />
          <div class="corner add-services__corner">
            <div class="corner__body">
              <div class="btn-circle">
                <svg class="btn-circle__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="swiper-slide add-services__item">
          <h5 class="title title-5 add-services__item-title">Заключение об идентификации ТС</h5>
          <span class="add-services__item-price">600 — 1 500 ₽</span>
          <img src="@img/add-service-3.png" alt="image" class="add-services__item-img" />
          <div class="corner add-services__corner">
            <div class="corner__body">
              <div class="btn-circle">
                <svg class="btn-circle__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="swiper-slide add-services__item">
          <h5 class="title title-5 add-services__item-title">
            Электронный паспорт на самоходные машины (ЭПСМ)
          </h5>
          <span class="add-services__item-price">10 000 — 40 000 ₽</span>
          <img src="@img/add-service-3.png" alt="image" class="add-services__item-img" />
          <div class="corner add-services__corner">
            <div class="corner__body">
              <div class="btn-circle">
                <svg class="btn-circle__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="swiper-slide add-services__item">
          <h5 class="title title-5 add-services__item-title">Мойка автомобиля</h5>
          <span class="add-services__item-price">650 — 2 000 ₽</span>
          <img src="@img/add-service-3.png" alt="image" class="add-services__item-img" />
          <div class="corner add-services__corner">
            <div class="corner__body">
              <div class="btn-circle">
                <svg class="btn-circle__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="slider-menu">
      <div class="slider-scrollbar"></div>
      <div class="fraction"></div>
    </div>
  </div>
</section>
