<section class="calc">
  <div class="container">
    <div class="calc__body">
      <div class="container _min">
        <h2 class="title title-v-2 calc__title"><span>Рассчитайте</span> точную стоимость услуг</h2>
        <p class="calc__content">
          Чтобы получить необходимую услугу, ознакомьтесь с особенностями процесса оформления на
          сайте компании, подготовьте необходимый комплект документов и отправьте его с
          комментариями по электронной почте или позвоните нам для уточнения процедуры и стоимости.
        </p>
        <form action="#" class="form calc__form">
          <div class="calc__type-car">
            <h5 class="title calc__type-title">Выберите вид ТС</h5>
            <div class="calc__type-wrapper">
              <input type="radio" name="type-car" id="passenger-car" class="form__radio" />
              <label for="passenger-car" class="form__radio-label calc__radio-label"
                >Легковой автомобиль</label
              >

              <input type="radio" name="type-car" id="trailed-vehicle" class="form__radio" />
              <label for="trailed-vehicle" class="form__radio-label calc__radio-label"
                >Прицепное средство</label
              >

              <input type="radio" name="type-car" id="truck" class="form__radio" />
              <label for="truck" class="form__radio-label calc__radio-label"
                >Грузовой автомобиль</label
              >

              <input type="radio" name="type-car" id="minibus" class="form__radio" />
              <label for="minibus" class="form__radio-label calc__radio-label">Микроавтобус</label>

              <input type="radio" name="type-car" id="jeep" class="form__radio" />
              <label for="jeep" class="form__radio-label calc__radio-label"
                >Внедорожник, джип</label
              >

              <input type="radio" name="type-car" id="bike" class="form__radio" />
              <label for="bike" class="form__radio-label calc__radio-label">Мотоцикл</label>
            </div>
          </div>
          <div class="calc__form-main">
            <label for="calc-name" class="form__item calc__form-item">
              <input type="text" id="calc-name" placeholder="Имя" class="form__input" />
              <img src="@img/icon-user.svg" alt="icon" class="form__item-icon" />
            </label>
            <label for="calc-changes" class="form__item calc__form-item">
              <div class="form__select">
                <input type="text" id="calc-changes" class="form__input-show" />
                <div class="form__select-btn">
                  <span class="form__select-title">Какие изменения нужно зарегистрировать</span>
                  <svg class="form__select-arrow">
                    <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                  </svg>
                </div>
                <ul class="list form__select-list">
                  <li class="form__select-item">Изменение какое то</li>
                  <li class="form__select-item">Я очень крутой разраб</li>
                  <li class="form__select-item">Утро, хочу спать</li>
                  <li class="form__select-item">Люблю свою работу</li>
                  <li class="form__select-item">Хочу гелик</li>
                  <li class="form__select-item">Быть войном</li>
                  <li class="form__select-item">Смотрели "лучшие в аду"?</li>
                  <li class="form__select-item">Изменение какое то</li>
                  <li class="form__select-item">Я очень крутой разраб</li>
                  <li class="form__select-item">Утро, хочу спать</li>
                  <li class="form__select-item">Люблю свою работу</li>
                  <li class="form__select-item">Хочу гелик</li>
                  <li class="form__select-item">Быть войном</li>
                  <li class="form__select-item">Смотрели "лучшие в аду"?</li>
                </ul>
              </div>
            </label>
            <label for="calc-name" class="form__item calc__form-item">
              <input type="tel" id="calc-tel" placeholder="+7 000-00-00" class="form__input" />
              <img src="@img/icon-phone.svg" alt="icon" class="form__item-icon" />
            </label>
            <button class="btn btn-main form__btn calc__form-btn">
              <span>Узнать стоимость</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </button>
            <input type="checkbox" id="calc-policy" class="form__input-policy" />
            <label for="calc-policy" class="form__btn-policy calc__policy"
              >Нажимая на кнопку, Вы даете согласие на
              <a href="#">обработку персональных данных</a></label
            >
          </div>
        </form>
      </div>
      <img src="@img/calc.png" alt="image" class="calc__img" />
    </div>
  </div>
  <div class="container _min">
    <div class="calc__footer">
      <div class="swiper calc__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide calc__slide">
            <h5 class="title calc__slide-title">максимально сжатые сроки</h5>
            <p class="calc__slide-content">
              для выполнения работ, от 1 до 7 дней (в зависимости от сложности)
            </p>
            <div class="calc__slide-footer">
              <span class="calc__slide-number">01</span>
              <img src="@img/sandglass.svg" alt="icon" class="calc__slide-img" />
            </div>
          </div>
          <div class="swiper-slide calc__slide">
            <h5 class="title calc__slide-title">максимально сжатые сроки</h5>
            <p class="calc__slide-content">
              экономим ваши средства и время, возможность получения скидочной карты по программе
              лояльности постоянным заказчикам
            </p>
            <div class="calc__slide-footer">
              <span class="calc__slide-number">01</span>
              <img src="@img/sandglass.svg" alt="icon" class="calc__slide-img" />
            </div>
          </div>
          <div class="swiper-slide calc__slide">
            <h5 class="title calc__slide-title">максимально сжатые сроки</h5>
            <p class="calc__slide-content">
              для выполнения работ, от 1 до 7 дней (в зависимости от сложности)
            </p>
            <div class="calc__slide-footer">
              <span class="calc__slide-number">01</span>
              <img src="@img/sandglass.svg" alt="icon" class="calc__slide-img" />
            </div>
          </div>
          <div class="swiper-slide calc__slide">
            <h5 class="title calc__slide-title">максимально сжатые сроки</h5>
            <p class="calc__slide-content">
              экономим ваши средства и время, возможность получения скидочной карты по программе
              лояльности постоянным заказчикам
            </p>
            <div class="calc__slide-footer">
              <span class="calc__slide-number">01</span>
              <img src="@img/sandglass.svg" alt="icon" class="calc__slide-img" />
            </div>
          </div>
        </div>
      </div>
      <div class="slider-menu calc__slider-menu">
        <div class="slider-scrollbar"></div>
        <div class="fraction"></div>
      </div>
      <button data-modal="consultation" class="btn btn-modal btn-main _min calc__consultation-btn">
        <span>Нужна консультация</span>
        <div class="btn-main__circle">
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>
