<section class="category">
  <div class="container _min">
    <h2 class="title title-2 category__title"><span>Оформляем</span> СБКТС на следующие категории ТС</h2>
    <div class="category__body">
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Легковой транспорт</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-1.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Внедорожники и джипы</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-2.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Микроавтобусы и автодома</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-1.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Легковой транспорт</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-1.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Внедорожники и джипы</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-2.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="category__item">
        <h5 class="title title-5 category__item-title">Микроавтобусы и автодома</h5>
        <p class="category__item-content">Пикапы, кроссоверы, малые и большие джипы.</p>
        <img src="@img/category-3.png" alt="image" class="category__item-img" />
        <div class="corner add-services__corner">
          <div class="corner__body">
            <div class="btn-circle">
              <svg class="btn-circle__icon">
                <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
