<section class="contacts-main">
  <div class="container">
    <div class="contacts-main__head">
      <h2 class="title contacts-main__title">Офис компании</h2>
      <button
        data-modal="consultation"
        class="btn btn-modal btn-main contacts-main__head-btn _shadow _min"
      >
        <span
          >Записаться <br />
          онлайн</span
        >
        <div class="btn-main__circle">
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-list-pen"></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
  <div class="container _min contacts-main__container">
    <ul class="list contacts-main__list">
      <li class="contacts-main__item">
        <h5 class="title contacts-main__item-title">e-mail</h5>
        <div class="contacts-main__wrapper">
          <a href="tel:88005502579" class="contacts-main__content">8 800 550-25-79</a>
          <div class="social contacts-main__social">
            <a href="#" target="_blank" class="social__btn social__btn--tg">
              <svg class="social__icon">
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="social__btn social__btn--wh">
              <svg class="social__icon">
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="contacts-main__item">
        <h5 class="title contacts-main__item-title">e-mail</h5>
        <a href="mailto:Translend-il@rambler.ru" class="contacts-main__content"
          >Translend-il@rambler.ru</a
        >
      </li>
      <li class="contacts-main__item">
        <h5 class="title contacts-main__item-title">График работы</h5>
        <p class="contacts-main__content">
          Пн-Пт: с 9 до 18 <br />
          СБ: с 9 до 12 <span>(выдача документов)</span>
        </p>
      </li>
      <li class="contacts-main__item">
        <h5 class="title contacts-main__item-title">Офис компании</h5>
        <p class="contacts-main__content">г. Ессентуки, ул. Баррикадная 8а</p>
      </li>
    </ul>
    <div
      class="contacts-main__map"
      id="map"
      data-center="[44.060152574595676,42.84889349999992]"
      data-zoom="17"
    >
      <div data-da=".contacts-main__container,743,1" class="contacts-main__route">
        <div class="contacts-main__route-body">
          <h5 class="title contacts-main__title">Проложить маршрут</h5>
          <div class="contacts-main__route-btns">
            <a href="#" target="_blank" class="contacts-main__btn">
              <img src="@img/2gis.svg" alt="icon" class="contacts-main__img" />
            </a>
            <a href="#" target="_blank" class="contacts-main__btn">
              <img src="@img/yandex.svg" alt="icon" class="contacts-main__img" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
