<section class="contacts">
  <div class="container">
    <div class="contacts__body">
      <div class="contacts__info">
        <div class="contacts__info-body">
          <h2 class="title title-v-2 contacts__title">Контакты</h2>
          <ul class="list contacts__list">
            <li class="contacts__item">
              <h3 class="title contacts__item-title">Телефон</h3>
              <div class="contacts__item-flex">
                <a href="tel:88005502579" class="contacts__item-content">8 800 550-25-79</a>
                <div class="social contacts__social">
                  <a href="#" target="_blank" class="social__btn social__btn--tg">
                    <svg class="social__icon">
                      <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                    </svg>
                  </a>
                  <a href="#" target="_blank" class="social__btn social__btn--wh">
                    <svg class="social__icon">
                      <use xlink:href="img/icons/icons.svg#icon-wh"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </li>
            <li class="contacts__item">
              <h3 class="title contacts__item-title">e-mail</h3>
              <a href="mailto:Translend-il@rambler.ru" class="contacts__item-content"
                >Translend-il@rambler.ru</a
              >
            </li>
            <li class="contacts__item">
              <h3 class="title contacts__item-title">График работы</h3>
              <p class="contacts__item-content">
                с 9 до 18 с понедельника по пятницу cуббота – с 9 до 12 (выдача документов)
              </p>
            </li>
            <li class="contacts__item">
              <h3 class="title contacts__item-title">Офис компании</h3>
              <p class="contacts__item-content">г. Ессентуки, ул. Баррикадная 8а</p>
            </li>
            <li class="contacts__item">
              <h3 class="title contacts__item-title">Проложить маршрут</h3>
              <div class="contacts__item-maps">
                <a href="#" target="_blank" class="contacts__map-btn">
                  <img src="@img/2gis.svg" alt="icon" class="contacts__map-icon" />
                </a>
                <a href="#" target="_blank" class="contacts__map-btn">
                  <img src="@img/yandex.svg" alt="icon" class="contacts__map-icon" />
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="contacts__map"
        id="map"
        data-center="[44.060152574595676,42.84889349999992]"
        data-zoom="17"
      ></div>
    </div>
  </div>
</section>
