<section class="documentation">
  <div data-media-show="743" data-show-items="4" class="container _min show">
    <h2 class="title title-v-2 documentation__title">Документация</h2>
    <ul class="list documentation__list ">
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
      <li class="documentation__item show-item">
        <a href="@img/about-video.jpg" download class="documentation__btn">
          <span class="documentation__item-title"
            >Договор оферты предоставления услуг испытательной лабораторией</span
          >
          <span class="documentation__item-size">2.2мб</span>
          <img src="@img/pdf.svg" alt="icon" class="documentation__item-icon" />
        </a>
      </li>
    </ul>
    <button class="btn show-btn documentation__show-btn">
      <span>Показать еще</span>
      <svg class="show-btn__arrow">
        <use xlink:href='img/icons/icons.svg#icon-arrow-double'></use>
      </svg>
    </button>
  </div>
</section>
