<section class="free-consultation">
  <div class="container free-consultation__container _min">
    <span class="free-consultation__rect"></span>
    <span class="free-consultation__rect"></span>
    <span class="free-consultation__rect"></span>
    <div class="free-consultation__body">
      <img src="@img/free-consultation.png" alt="image" class="free-consultation__img" />
      <h2 class="title free-consultation__title"><span>Получите</span> бесплатную консультацию</h2>
      <p class="free-consultation__content">
        Специалист свяжется с вами в течение часа в рабочее время
      </p>
      <button data-modal="consultation" class="btn btn-modal btn-main free-consultation__btn">
        <span>Узнать стоимость</span>
        <div class="btn-main__circle">
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
          </svg>
        </div>
      </button>
      <div class="free-consultation__contacts">
        <div>
          <a href="tel:88005502579" class="free-consultation__tel">8(800) 550-25-79</a>
          <p class="free-consultation__contacts-content">Звонок по России бесплатный</p>
        </div>
        <div class="social free-consultation__social">
          <a href="#" target="_blank" class="social__btn social__btn--tg">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="social__btn social__btn--wh">
            <svg class="social__icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <ul class="list free-consultation__list">
      <li class="free-consultation__list-item">
        Подробные разъясненияпо процедуре оформления (СБКТС).
      </li>
      <li class="free-consultation__list-item">
        Подробные разъясненияпо процедуре оформления (СБКТС).
      </li>
      <li class="free-consultation__list-item">
        Подробные разъясненияпо процедуре оформления (СБКТС).
      </li>
      <li class="free-consultation__list-item">
        Подробные разъясненияпо процедуре оформления (СБКТС).
      </li>
      <li class="free-consultation__list-item">
        Подробные разъясненияпо процедуре оформления (СБКТС).
      </li>
    </ul>
  </div>
</section>
