<header class="header">
  <div class="container header__container _min">
    <a href="/" class="header__logo">
      <img src="@img/logo.svg" alt="logo" class="header__logo-img" />
    </a>
    <nav class="header__nav" id="burger">
      <ul class="list header__list">
        <li class="btn-services header__btn-service">
          <span>Услуги</span>
        </li>
        <li>
          <a href="#">
            <span>О компании</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Наши работы</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Контакты</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a href="tel:88005502579" class="header__tel">8(800) 550-25-79</a>
      <p class="header__contacts-content">Звонок по России бесплатный</p>
    </div>
    <ul class="list header__social">
      <li>
        <a href="#" target="_blank" class="header__social-btn header__social-btn--tg">
          <svg class="header__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-tg"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="header__social-btn header__social-btn--wh">
          <svg class="header__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-wh"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button data-modal="call" class="btn btn-modal header__btn-call">
      <span>Заказать звонок</span>
      <div class="header__call-circle">
        <svg class="header__call-icon">
          <use xlink:href="img/icons/icons.svg#icon-tel"></use>
        </svg>
      </div>
    </button>
    <button class="btn btn-menu header__btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
