<section class="our-services">
  <div class="container _min">
    <div class="our-services__head">
      <h2 class="title title-2">Наши услуги</h2>
      <button data-modal="consultation" class="btn btn-modal btn-main our-services__head-btn _shadow _min">
        <span
          >Записаться <br />
          онлайн</span
        >
        <div class="btn-main__circle">
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-list-pen"></use>
          </svg>
        </div>
      </button>
    </div>
    <div class="our-services__body">
      <a href="#" class="our-services__item">
        <h5 class="title our-services__item-title">Внесение изменений в конструкцию ТС</h5>
        <span class="our-services__item-price"> 1 000 —30 000 </span>
        <p class="our-services__item-content">(в зависимости от категории и региона)</p>
        <img src="@img/service-1.png" alt="img" class="our-services__item-img" />
        <div class="corner our-services__item-corner">
          <div class="corner__body">
            <div class="btn-main btn-main--gray _min">
              <span>Подробнее</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="our-services__item">
        <h5 class="title our-services__item-title">Оценка соответствия (СБКТС)</h5>
        <span class="our-services__item-price"> 1 000 —30 000 </span>
        <img src="@img/service-3.png" alt="img" class="our-services__item-img" />
        <div class="corner our-services__item-corner">
          <div class="corner__body">
            <div class="btn-main btn-main--gray _min">
              <span>Подробнее</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="our-services__item">
        <h5 class="title our-services__item-title">Оформление электронного паспорта ТС</h5>
        <span class="our-services__item-price"> 1 000 —30 000 </span>
        <img src="@img/service-4.png" alt="img" class="our-services__item-img" />
        <div class="corner our-services__item-corner">
          <div class="corner__body">
            <div class="btn-main btn-main--gray _min">
              <span>Подробнее</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="our-services__item">
        <h5 class="title our-services__item-title">Технический осмотр ТС</h5>
        <span class="our-services__item-price"> 1 000 —30 000 </span>
        <img src="@img/service-5.png" alt="img" class="our-services__item-img" />
        <div class="corner our-services__item-corner">
          <div class="corner__body">
            <div class="btn-main btn-main--gray _min">
              <span>Подробнее</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="our-services__item">
        <h5 class="title our-services__item-title">Технический осмотр ТС</h5>
        <span class="our-services__item-price"> 1 000 —30 000 </span>
        <img src="@img/service-5.png" alt="img" class="our-services__item-img" />
        <div class="corner our-services__item-corner">
          <div class="corner__body">
            <div class="btn-main btn-main--gray _min">
              <span>Подробнее</span>
              <div class="btn-main__circle">
                <svg class="btn-main__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
