<section class="question">
  <div data-spollers data-one-spoller class="container _min">
    <h2 class="title title-v-2 question__title"><span>Часто задаваемые</span> вопросы</h2>
    <div class="question__spoller">
      <button data-spoller class="btn question__spoller-btn">
        <span class="question__spoller-title"
          >Как долго проходит регистрация изменений конструкции ТС?</span
        >
        <svg class="question__spoller-arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
        </svg>
      </button>
      <div class="question__spoller-item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, id. Cumque adipisci error
          veritatis, voluptatem reiciendis nobis officia et perferendis. Porro corporis corrupti
          sint iusto sit at repellendus voluptas aspernatur ratione quos sunt incidunt, libero
          praesentium, inventore laboriosam. Soluta tempore eum impedit deleniti. Accusamus ipsam
          facere ea corrupti culpa vero!
        </p>
      </div>
    </div>
    <div class="question__spoller">
      <button data-spoller class="btn question__spoller-btn">
        <span class="question__spoller-title"
          >Как долго проходит регистрация изменений конструкции ТС?</span
        >
        <svg class="question__spoller-arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
        </svg>
      </button>
      <div class="question__spoller-item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, id. Cumque adipisci error
          veritatis, voluptatem reiciendis nobis officia et perferendis. Porro corporis corrupti
          sint iusto sit at repellendus voluptas aspernatur ratione quos sunt incidunt, libero
          praesentium, inventore laboriosam. Soluta tempore eum impedit deleniti. Accusamus ipsam
          facere ea corrupti culpa vero!
        </p>
      </div>
    </div>
    <div class="question__spoller">
      <button data-spoller class="btn question__spoller-btn">
        <span class="question__spoller-title"
          >Как долго проходит регистрация изменений конструкции ТС?</span
        >
        <svg class="question__spoller-arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
        </svg>
      </button>
      <div class="question__spoller-item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, id. Cumque adipisci error
          veritatis, voluptatem reiciendis nobis officia et perferendis. Porro corporis corrupti
          sint iusto sit at repellendus voluptas aspernatur ratione quos sunt incidunt, libero
          praesentium, inventore laboriosam. Soluta tempore eum impedit deleniti. Accusamus ipsam
          facere ea corrupti culpa vero!
        </p>
      </div>
    </div>
  </div>
</section>
