<section class="receive-consultation">
  <div class="container _min receive-consultation__container">
    <div class="receive-consultation__main">
      <h2 class="title title-3 receive-consultation__title">
        <span>Получите</span> бесплатную консультацию
      </h2>
      <p class="receive-consultation__content">
        Специалист свяжется с вами в течение часа в рабочее время
      </p>
      <form action="#" class="form receive-consultation__form">
        <input
          type="radio"
          name="receive-consultation-connect"
          id="receive-consultation-tel-connect"
          class="form__radio receive-consultation__radio"
        />
        <label
          for="receive-consultation-tel-connect"
          class="btn-main receive-consultation__connect-btn receive-consultation__connect-btn--tel"
        >
          <div class="receive-consultation__connect-circle">
            <svg class="receive-consultation__connect-icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </div>
          <div>
            <span class="receive-consultation__connect-title">Позвонить</span>
          </div>
        </label>
        <input
          type="radio"
          name="receive-consultation-connect"
          id="receive-consultation-tg-connect"
          class="form__radio receive-consultation__radio"
        />
        <label
          for="receive-consultation-tg-connect"
          class="btn-main receive-consultation__connect-btn receive-consultation__connect-btn--tg"
        >
          <div class="receive-consultation__connect-circle">
            <svg class="receive-consultation__connect-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </div>
          <div>
            <span class="receive-consultation__connect-content">Написать в</span>
            <span class="receive-consultation__connect-title">Telegram</span>
          </div>
        </label>
        <input
          type="radio"
          name="receive-consultation-connect"
          id="receive-consultation-wh-connect"
          class="form__radio receive-consultation__radio"
        />
        <label
          for="receive-consultation-wh-connect"
          class="btn-main receive-consultation__connect-btn receive-consultation__connect-btn--wh"
        >
          <div class="receive-consultation__connect-circle">
            <svg class="receive-consultation__connect-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </div>
          <div>
            <span class="receive-consultation__connect-content">Написать в</span>
            <span class="receive-consultation__connect-title">WhatsApp</span>
          </div>
        </label>
        <label for="tel-call" class="form__item receive-consultation__form-item">
          <input type="tel" placeholder="+7 000-00-00" id="tel-call" class="form__input" />
          <img src="@img/icon-phone.svg" alt="icon" class="form__item-icon" />
        </label>
        <button class="btn btn-main receive-consultation__btn">
          <span>Узнать стоимость</span>
          <div class="btn-main__circle">
            <svg class="btn-main__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
            </svg>
          </div>
        </button>
        <input type="checkbox" id="receive-consultation-policy" class="form__input-policy" />
        <label
          for="receive-consultation-policy"
          class="form__btn-policy receive-consultation__policy"
          >Нажимая на кнопку, Вы даете согласие на
          <a href="#">обработку персональных данных</a></label
        >
      </form>
      <div class="receive-consultation__contacts">
        <div>
          <a href="tel:88005502579" class="consultation__tel">8(800) 550-25-79</a>
          <p class="consultation__contacts-content">Звонок по России бесплатный</p>
        </div>
        <ul class="list receive-consultation__social">
          <li>
            <a href="#" target="_blank" class="receive-consultation__social-btn">
              <svg class="receive-consultation__social-icon">
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="receive-consultation__social-btn">
              <svg class="receive-consultation__social-icon">
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <img src="@img/free-consultation.png" alt="image" class="receive-consultation__img">
    </div>
    <ul class="list receive-consultation__list">
      <li class="receive-consultation__list-item">
        Подробные разъяснения по процедуре оформления (СБКТС).
      </li>
      <li class="receive-consultation__list-item">
        Подробные разъяснения по процедуре оформления (СБКТС).
      </li>
      <li class="receive-consultation__list-item">
        Подробные разъяснения по процедуре оформления (СБКТС).
      </li>
      <li class="receive-consultation__list-item">
        Подробные разъяснения по процедуре оформления (СБКТС).
      </li>
      <li class="receive-consultation__list-item">
        Подробные разъяснения по процедуре оформления (СБКТС).
      </li>
    </ul>
  </div>
</section>
