<section class="requisites">
  <div class="container">
    <div
      class="requisites__body"
      style="
        background: url(&quot;@img/requisites.jpg&quot;) bottom 0 right 0 / cover no-repeat;
        background-color: var(--cat-skill);
      "
    >
      <div class="container _min">
        <h2 class="title title-2 requisites__title"><span>Реквизиты</span> компании</h2>
        <div class="requisites__wrapper">
          <div class="requisites__item">
            <h5 class="title requisites__item-title">Данные:</h5>
            <ul class="list requisites__list">
              <li class="requisites__list-item">
                <span>Адрес:</span> г. Ессентуки, ул. Баррикадная 8а
              </li>
              <li class="requisites__list-item">
                <span>Телефон:</span>
                <a href="mailto:Translend-il@rambler.ru">Translend-il@rambler.ru</a>
              </li>
              <li class="requisites__list-item">
                <span>E-mail:</span> <a href="tel:8(800) 550-25-79">8(800) 550-25-79</a>
              </li>
              <li class="requisites__list-item">
                <span>Сайт:</span> <a href="#">www.тranslend-il.ru</a>
              </li>
              <li class="requisites__list-item">
                <span>Генеральный директор:</span> Пономарев А.С
              </li>
            </ul>
          </div>
          <div class="requisites__item">
            <h5 class="title requisites__item-title">Банковские реквизиты:</h5>
            <ul class="list requisites__list">
              <li class="requisites__list-item">
                <span>р/с № </span> 40702810660100012147 ПАО Сбербанк
              </li>
              <li class="requisites__list-item"><span>к/с № </span> 30101810907020000615</li>
              <li class="requisites__list-item"><span>р/с № </span> 40702810660100012147</li>
              <li class="requisites__list-item"><span>БИК </span> 040702615 </li>
              <li class="requisites__list-item"><span>ИНН/КПП </span> 1172651021740</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
