<section class="safety">
  <div class="container">
    <div class="safety__body">
      <div class="container _min more-parent">
        <h2 class="title title-v-2 safety__title">
          <span>Свидетельство о</span> безопасности конструкции транспортного средства (СБКТС)
        </h2>
        <picture class="safety__img">
          <source srcset="@img/safety-mobile.png" media="(max-width: 743px)">
          <img src="@img/safety.png" alt="Абстрактное изображение">
        </picture>
        <div class="safety__info more">
          <p class="safety__content">
            Мы предлагаем услуги аккредитованной испытательной лаборатории для оформления
            свидетельства о безопасности конструкции транспортного средства (СБКТС). Наша
            лаборатория имеет все необходимые аккредитации и разрешения для проведения технической
            экспертизы и испытаний, подтверждающих соответствие конструкции автомобиля требованиям
            безопасности.
          </p>
          <p class="safety__subcontent">
            СБКТС необходимо для регистрации любого автомобиля, который ввезли в Россию или другую
            страну из списка ЕАЭС (Казахстан, Киргизия, Армения и Беларусь), либо собрали в России,
            но с нуля.
          </p>
        </div>
        <button class="btn more-btn">Развернуть</button>
        <button data-modal="consultation" class="btn btn-modal btn-main safety__btn">
          <span>Получить консультацию</span>
          <div class="btn-main__circle">
            <svg class="btn-main__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-double"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
