<section class="trials">
  <div class="container">
    <div class="trials__body">
      <div class="container _min">
        <h2 class="title title-v-2 trials__title"><span>Как проходят</span> испытание</h2>
        <div class="trials__slider-wrapper">
          <button class="btn slider-nav__btn slider-nav__btn--prev trials__slider-btn">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="btn slider-nav__btn slider-nav__btn--next trials__slider-btn">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div class="swiper trials__slider">
            <div class="swiper-wrapper">
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
              <a href="@img/trials.jpg" data-fancybox="trials" class="swiper-slide trials__slide">
                <img src="@img/trials.jpg" alt="image" class="trials__img" />
              </a>
            </div>
          </div>
        </div>
        <div class="slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
