<section class="what-will">
  <div class="container">
    <div class="what-will__body">
      <div class="what-will__line what-will__line--top">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span>
      </div>
      <div class="what-will__line what-will__line--bottom">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span><span></span><span></span><span></span><span></span><span></span
        ><span></span><span></span>
      </div>
      <div class="container _min">
        <h2 class="title title-v-2 what-will__title">
          <span>Что будет</span> если не зарегистрировать переоборудование
        </h2>
        <ul class="list what-will__list">
          <li class="what-will__item">
            <div class="what-will__circle">
              <span class="title what-will__number">1</span>
            </div>
            <h5 class="title what-will__item-title">
              Проблемы с регистрацией <br />
              при купле-продаже
            </h5>
          </li>
          <li class="what-will__item">
            <div class="what-will__circle">
              <span class="title what-will__number">2</span>
            </div>
            <h5 class="title what-will__item-title">
              штрафов за нарушения при проверке от 500 до 30 000 Р
            </h5>
          </li>
          <li class="what-will__item">
            <div class="what-will__circle">
              <span class="title what-will__number">3</span>
            </div>
            <h5 class="title what-will__item-title">
              Ваше транспортное средство могут снять с учета
            </h5>
          </li>
        </ul>
        <p class="what-will__content">
          Чтобы избежать штрафов и аннулирования регистрации, рекомендуется проходить процедуру
          переоборудования на законных основаниях. Это включает в себя обращение в
          специализированные лаборатории, где вам помогут оформить все необходимые документы и
          пройти экспертизу.
        </p>
      </div>
    </div>
  </div>
</section>
