.corner {
  position: absolute;
  z-index: 5;
  &__body {
    position: relative;
    background-color: white;
    padding: 8px 8px 0px 0px;
    border-radius: 0 38px 0 12px;
    @include tablet {
      padding: 6px 6px 0px 0px;
      border-radius: 0 28px 0 12px;
    }
    &::before, &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      background: url('@img/corner.svg') 0 0 / contain no-repeat;
      @include tablet {
        width: 23px;
        height: 23px;
      }
    }
    &::before {
      left: 0;
      top: -32px;
      @include tablet {
        top: -23px;
      }
    }
    &::after {
      right: -32px;
      bottom: 0;
      @include tablet {
        right: -23px;
      }
    }
  }
}
